<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Twitter Popularity Analyser{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/Chart.min.js') }}"></script>
            <script src="{{ asset('js/collapse.js') }}"></script>
            <script src="{{ asset('js/util.js') }}"></script>
            <script src="https://use.fontawesome.com/ad9d1398e4.js"></script>
        {% endblock %}
    </body>
</html>
