<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Twitter Popularity Analyser{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    {% include 'default/navbar.html.twig' %}
        <div class="container" style="margin-top: 30px">
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/Chart.min.js') }}"></script>
            <script src="{{ asset('js/collapse.js') }}"></script>
            <script src="{{ asset('js/util.js') }}"></script>
            <script src="https://use.fontawesome.com/ad9d1398e4.js"></script>
        {% endblock %}
    </body>
</html>
