{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/results.js') }}"></script>
    <script>
        var url = "{{ url('refreshTweetList') }}"
    </script>
{% endblock %}

{% block body %}
    {% if reanalysisAvailable and not currentlyAnalysing %}
        <div class="alert alert-info" role="alert">
            This {{ term.type }} has already been analysed. Would you like to <a href="{{ path('homepage', {'search_term': term.prettyTerm}) }}" class="alert-link">update</a> it?
        </div>
    {% endif %}
    {% if currentlyAnalysing %}
        <div class="alert alert-success" role="alert">
            This {{ term.type }} is currently being analysed!
        </div>
    {% endif %}
    <div id="chart" style="position: relative; height: 75vh">
        <canvas id="myChart"></canvas>
    </div>

    <div id="tweet_list"
         data-term-type="{{ term.getType }}"
         data-term-id="{{ term.id }}"
         data-positive-tweets="{{ positiveTweets }}"
         data-negative-tweets="{{ negativeTweets }}"
         class="list-group row">
        {% include 'default/tweet_list.html.twig' %}
    </div>
{% endblock %}
