{% extends 'base.html.twig' %}

{% block title %}'Results - {{ term.prettyTerm }}'{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/results.js') }}"></script>
    <script>
        var url = "{{ url('refreshTweetList') }}"
    </script>
{% endblock %}

{% block body %}
    <div class="alert alert-info"
         id="reanalyseNotice"
         role="alert"
         style="display: {% if not currentlyAnalysing %}block{% else %}none{% endif %};">
        This {{ term.type }} has already been analysed. Would you like to <a href="{{ path('homepage', {'search_term': term.prettyTerm,
                                                                                                 'should_reanalyse': true}) }}"
                                                                             class="alert-link">update</a> it?
    </div>
    <div class="alert alert-success alert-dismissable fade show"
         id="analysingNotice"
         role="alert"
         style="display: {% if currentlyAnalysing %}block{% else %}none{% endif %};">
            <button class="close">
                <i class="fa fa-spinner fa-spin"></i>
            </button>
        This {{ term.type }} is currently being analysed!
    </div>
    <div id="chart" style="position: relative; height: 75vh">
        <canvas id="myChart"></canvas>
    </div>

    <div id="tweet_list"
         data-term-type="{{ term.getType }}"
         data-term-id="{{ term.id }}"
         data-positive-tweets="{{ positiveTweets }}"
         data-negative-tweets="{{ negativeTweets }}"
         class="list-group row">
        {% include 'default/tweet_list.html.twig' %}
    </div>
{% endblock %}
