{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/results.js') }}"></script>
    <script>
        var url = "{{ url('refreshTweetList') }}"
    </script>
{% endblock %}

{% block body %}
    <div id="chart" style="position: relative; height: 75vh">
        <canvas id="myChart"></canvas>
    </div>

    <div id="tweet_list"
         data-term-type="{{ term.getType }}"
         data-term-id="{{ term.id }}"
         data-positive-tweets="{{ positiveTweets }}"
         data-negative-tweets="{{ negativeTweets }}"
         style="margin-top: 40px;">
        {% include 'default/tweet_list.html.twig' %}
    </div>
{% endblock %}
